<p id="notice"><%= notice %></p>
<div class="container">

<h1 class="jumbotron ctn">Fake Reddit</h1>
<div class="container">
  <%= link_to 'New Link', new_link_path, :class => "btn btn-default btn btn-info" %> <br /><br />
<table class="table table-striped table-hover">
  <thead>
    <tr class="success">
      <th>Url</th>
      <th>Title</th>
      <th>Total Count</th>
      <th>A Vote For</th>
      <th>A Vote Against</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.url, link_link_vote_path(link) %> <br /><br />
            <%= link_to 'Show', link, :class => "btn btn-default btn-xs" %>
            <%= link_to 'Edit', edit_link_path(link), :class => "btn btn-default btn-xs" %>
            <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %>
        </td>
        <td><%= link.title %></td>
        <td><%= link.totalcount %></td>
        <td><%= link_to "UP", link_vote_path(link) %></td>
        <td><%= link_to "DOWN", link_down_vote_path(link) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @links %>
</div>
</div>
