<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @links.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @links.title %>
</p>

<%= link_to 'Edit', edit_link_path(@links) %> |
<%= link_to 'Back', links_path %>
